.divider1, .divider2 {
    width: 100%;
    height: 1px;
    
}

.divider1 {
    background: linear-gradient(to left, #69B99D, #CCF4E657);
}

.divider2 {
    background: linear-gradient(to right, #69B99D, #CCF4E657);
}